<ion-header>
  <ion-toolbar color="success">
    <ion-button color="success" slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>Souhait d'animation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://france.jeditoo.com/PaysLoire/pictures/vendee/carte-vendee.JPG" />
  <ion-card>
  <ion-card-content>
    <p>Adresse : 13 Rue des sous menteurs</p>
    <p>85100 Les Sables d'Olonnes</p>
    <p>Vendée</p>
    <p>France</p>
  </ion-card-content>
</ion-card>
<ion-list>
  <ion-item lines="inset">
    <ion-label position="floating" >Note</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
<ion-button color="success" size="full">Créer une Animation</ion-button>
</ion-content>
