<ion-header>
  <ion-toolbar color="success">
    <ion-button color="success" slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-button>
    <ion-title>Mes animations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-animations-besoin-card status="En Attente" createdAt="23/10/2022 10:18" updatedAt="26/08/22" 
      notes="Notes : Mariage de Sophie(45ans) et Laurence (23 ans)"></app-animations-besoin-card>
    <app-animations-besoin-card status="En Cours" createdAt="23/08/22 13:23" updatedAt="27/10/22" 
      notes="Anniversaire de deux soeurs jumelles et de leurs animaux (1 chien et deux perroquets)"></app-animations-besoin-card>
    <app-animations-besoin-card status="Terminé" createdAt="21/08/22 13:23" updatedAt="23/08/22" 
     value="60 €"></app-animations-besoin-card>
</ion-content>
