on-card {
    ion-card-subtitle {
        text-transform: uppercase;
        font-weight: bold;
    }
}

p {
    white-space: normal;
}
ion-card-subtitle {
    text-transform: uppercase;
    font-weight: bold;
}